body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 1em auto 4em auto;
  max-width: 960px;
  font-size: 14px;
}
@media screen and (max-width: 320px) {
  body {
    width: 310px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    width: 310px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  body {
    width: 470px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    width: 758px;
  }
}
.header h1 {
  font-weight: 400;
  font-size: 30px;
  display: inline-block;
  margin: 0;
  text-rendering: optimizeLegibility;
}
.header span {
  margin-left: 20px;
  display: inline-block;
  font-size: 11px;
}
a {
  color: #1F5AFD;
}
h2 {
  text-rendering: optimizeLegibility;
}
h2 a {
  color: #1F5AFD;
  right: 100%;
  padding: 0 .3em;
  text-decoration: none;
}
h2 a:hover {
  text-decoration: underline;
}
span.highlight {
  font-style: italic;
}
p {
  line-height: 1.5em;
}
.vis.problem path {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .vis.problem path {
    stroke-width: 1px;
  }
}
.vis.problem path.activity {
  stroke: #FC4483;
}
.vis.problem circle.peak {
  stroke: black;
  fill: #1F5AFD;
}
.vis.problem .axis path,
.vis.problem .axis line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.vis.problem text {
  font-family: sans-serif;
  font-size: 11px;
}
